<div class="home-container">
  <h1>Veja o que estão compartilhando!</h1>

  <!-- Formulário de busca -->
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input
        type="text"
        placeholder="Ou busque por um momento..."
        (input)="search($event)"
      />
    </form>
  </div>

  <!-- Lista de momentos -->
  <div *ngIf="moments.length > 0; else noMoments">
    <div class="moments-container">
      <div class="moment" *ngFor="let moment of moments">
        <img
          [src]="baseApiUrl + 'uploads/' + moment.image"
          [alt]="moment.title"
        />
        <h3>{{ moment.title }}</h3>
        <p class="date">Em: {{ moment.created_at }}</p>
        <!-- <p>Comentários: {{ moment.comments!.length }} </p> -->
        <p><a [routerLink]="['/moment', moment.id]">Detalhes</a></p>
      </div>
    </div>
  </div>

  <!-- Template para quando não houver momentos -->
  <ng-template #noMoments>
    <h2>Não há momentos cadastrados!</h2>
  </ng-template>
</div>
